<!-- - The route `GET /apartments/new` should show a form for adding a new apartment
  * Make sure to get the appropriate input from the user when creating an apartment -->
<h1>Add an apartment</h1>
<form method="post" action="/apartments/1">
  <input type="text" name="address" placeholder="Address, Unit #">
  <input type="text" name="sqft" placeholder="Square Feet">
  <input type="text" name="num_beds" placeholder="# of Beds">
  <input type="text" name="num_baths" placeholder="# of Baths">
  <input type="text" name="monthly_rent" placeholder="Monthly Rent">
  <input type="submit">
</form>
