<!-- - The route `GET /apartments/1/tenants/new` should show a form for adding a new tenant. -->
  <!-- * Make sure to get the appropriate input from the user to create your person -->
  <!-- * __NOTE:__ Only two people can live in an apartment due to zoning laws (at least until you get to the bonus). -->
<h1>Add a tenant</h1>

<form method="post" action="/">
  <input type="text" name="instructor_name" placeholder="Instructor Name">
  <input type="submit">
</form>
