<h1>Add a Renter to Current Apartment</h1>
<form method='post' action='/apartments/1/tenants/new/renter'>
  <input type='text' name='renter' placeholder="First and Last Name">
  <input type="submit">
</form>
<a href="/">Apartment Guide</a>
