<!-- - The route `GET /apartments/new` should show a form for adding a new apartment
  * Make sure to get the appropriate input from the user when creating an apartment -->
<h1>Add an apartment</h1>
<form method="post" action="/">
  <input type="text" name="instructor_name" placeholder="Instructor Name">
  <input type="submit">
</form>
