<h1>Here is a list of apartments. Select which one you wanna add a tenant to.</h1>
<li><a href="/add_tenant_one">123 Drive Way</a></li>
<li><a href="/add_tenant_two">123 Park Way</a></li>
<li><a href="/add_tenant_three">308 Negra Arroyo Ln</a></li>
