<h1>
  <%= @title %>
</h1>

<ul>
  <li><a href='/apartments/1'>Apartment1 - Occupied by Mikael's </a></li>
  <li><a href='/apartments/2'>Apartment 2 750 sqft, 1 bed and 1 bath. $1500 a month</a></li>
  <li><a href='/apartments/3'>Apartment 3 1100 sqft, 2 bed and 2 bath. $2500 a month</a></li>
  <li><a href='/apartments/3'>Apartment 4 1300 sqft, 3 bed and 3 bath. $3000 a month</a></li>
</ul>
