<!-- # Show a form for adding a new apartment
# Make sure to get the appropriate input from the user when creating an apartment -->

<h2>Add Apartment</h2>

<form method='post' action='/apartments'>
  <input type='post' name='new-apartment' placeholder='Apartment Name'>
  <input type='post' name='sqft' placeholder='Square Feet'>
  <input type='post' name='beds' placeholder='# of Beds'>
  <input type='post' name='baths' placeholder='# of Baths'>
  <input type='post' name='cost' placeholder='Cost per Month'>
</form>