<h1>Here are the details for the apartment at 308 Negra Arroyo Ln.</h1>
This apartment was once occupied by Walter White, his wife Skyler, their son Walt Jr, and their baby daughter What's-Her-Name.
This apartment is now vacant. It 1,234 sqft, and has two bedrooms, two full baths, and one half bath. Rent is $5 million billion dollars per month.
Only two tenants are allowed to move in at a time, so no funny business. I haven't coded a way to prevent this from happening yet,
so I'm just gonna have to trust you on this one.
