<h1>Here is a list of apartments. Click one to view its details.</h1>
<li><a href="/apartment_one_details">123 Drive Way</a></li>
<li><a href="/apartment_two_details">123 Park Way</a></li>
<li><a href="/apartment_three_details">308 Negra Arroyo Ln</a></li>
