<% if (@apt_id) %>


<h1> Here is apartment </h1>
<%= @apartments[@apt_id.to_i] %>


<% else %>
  <h1> Here are apartments </h1>
  <% @apartments.each do |apartment| %>
    <li><%= apartment %></li>
  <% end %>

  <form method="get" action="/apartments">
  <input type="search" name="apt" placeholder="apartment">
  <input type="submit">
</form>

<% end %>
