<!-- # Show a form for adding a new tenant.
# Make sure to get the appropriate input from the user to create your person
# NOTE: Only two people can live in an apartment due to zoning laws (at least until you get to the bonus). -->

<h2>Add Tenants</h2>

<form method='post' action='/tenants'>
  <input type='post' name='name' placeholder='Name'>
</form>