<form method="get" action="/">
  <input type="search" name="name" placeholder="Search Apartments">
  <input type="submit">
</form>


<!-- list all apartments

If the apartment is unoccupied(no tenants)
you should say something like: Apt 1A is 750 sqft
and has 1 bed and 1 bath. It costs $2500 a month

If the apartment is occupied by a tenant,
you should say something like: Mikael lives in Apt 1A -->
