<!-- - The route `GET /apartments` should list all apartments
  * If the apartment is unoccupied(no tenants) you should say something like:
    `Apt 1A is 750 sqft and has 1 bed and 1 bath. It costs $2500 a month`
  * If the apartment is occupied by a tenant, you should say something like:
    `Mikael lives in Apt 1A` -->

<!-- - The route `GET /apartments/1` should show info about a single apartment
   * Tell the user the address, monthly_rent, sqft, num_beds, num_baths, and renters -->

<!-- - The route `GET /apartments/1/tenants` should list all tenants for 1 apartment. -->
<p><%= @apartment_status %></p>
