testing apartment information page.
<a href='/apartment_tenants'>List of tenant(s) in a specific apartment.</a>
<a href='/apartment_tenants_new'>Enter information for a new tenant in an apartment.</a>
