<%= @words %> Welcome to your DC Tenant Portal!
<a href=GET '/apartments'>List All Apartments</a>
<a href=GET '/apartments/new'>Add New Apartment</a>
<a href=GET '/apartments/1'>Apartment Details</a>
<a href=GET '/apartments/1/tenants'>Tenants in Apartment</a>
<a href=GET '/apartments/1/tenants/new'>Add new tenant</a>
