<a href ='/apartments'>List all apartments</a>
<a href ='/details'>View an apartment's details</a>
<a href ='/apartments/new'>Add an apartment</a>
<a href ='add_tenant'>Add a tenant to an apartment</a>
