<!-- Tell the user the address, monthly_rent, sqft, num_beds, num_baths, and renters -->
<a href="/apartments/index"><h1>Our Apartments</h2></a>
  <h2>Tenants of Apt #7</h2>
  <p>Mickeal Douglass, 75, Male</p>
  <p>Catherine Zeta-Jones, 46, Female </p>
  <p>Max Woof, 2, Male</p>
