# ======= views/index.erb<br><br>

<a href="/apartments">List all apartments</a><br>
<a href="/apartments/"<%= @apt_num %> >View an apartments details</a><br>
<a href="/apartments/new"> Add an apartment</a><br>
<a href="/apartments/"<%= @apt_num %>"/tenants/new">Add a tenant to an apartment</a><br>
