<a class="all_apartments" href="/apartments">List all apartments.</a>

<form method="get" action="/">
  <input type="search" name="apt_details" placeholder="View an apartment's details">
  <input type="submit">
</form>

<a class="add_apartment" href="/apartments/new">Add an apartment.</a>

<form method="get" action="/">
  <input type="search" name="tenant_add" placeholder="Add a tenant to an apartment.">
  <input type="submit">
</form>
