<a href = "/apartments">List all apartments</a>

<a href = "/new_apartment">List a new apartment</a>

<a href = "/apartments/1">View Apartment Details</a>

<a href = "/apartments1/tenants">Tenants in certain apartment</a>

<a href = "/apartmens1/tenants1">Add a new tenant to an apartment</a>
