<h1>welcome to apartment search</h1>
<ul><a href="/apartments">list all apartments</a></ul>
<ul><a href="/apartments/1">list details for an apt</a></ul>
<ul><a href="/apartments/new">add a new apartment</a></ul>
<ul><a href="/apartments/1/tenants/new">add new tenant to apartment</a></ul>
