<h1><%= @header_route %></h1>
<a class=link href='/<%= @all_apartments %>'>View all apartments</a>
<a class=link>View specific apartment</a>

<form method="get" action="/">
  <input type="search" name="apartment_name" placeholder="Search Apartments">
  <input type="submit">
</form>

<a class=link href='/<%= @add_apartment %>'>Add an apartment</a>
<a class=link href='/<%= @add_tenant %>'>Add a tenant</a>
