<!-- The homepage should list several menu options:

    List all apartments
    View an apartment's details
    Add an apartment
    Add a tenant to an apartment -->


<a href='/apartments'>Apartments List With Details</a>
<a href='/apartments_new'>Add New Apartment</a>
<a href='/tenants'>Tenants List With Details</a>
<a href='/tenants_new'>Add New Tenant</a>
