<h1>APARTMENTS</h1>
<ul>
<li><a href='/apartments/list'>List all apartments.</a></li>
<li><a href='/apartments/details'>View apartment details.</a></li>
<li><a href='/apartments/add'>Add an apartment.</a></li>
<li><a href='/tenants/addtenant'>Add a tenant.</a></li>
</ul>
