<link rel="stylesheet"  type="text/css" href="styles.css">


<a href ="/apartments/show"> Apartment Listings</a>
<a href='apartment_details'>Apartment Details</a>
<a href='add_apartment'>Add Apartment</a>
<a href='add_tenant'>Add Tenant</a>
