<h1>Welcome to your Landlord Application</h1>
<h2>Main Menu</h2>
  <ol>
    <li><a href="/apartments">List all Apartments</a></li>
    <li><a href="/tenants">List all tenants</a></li>
    <li><a href="/apartments/new">Create an Apartment lisitng</a></li>
    <li><a href="/apartments/:id/new">Add a tenant to an apartment</a></li>
  </ol>
