<h1>
  <%= @title %>
</h1>

<ul>
  <li><a href='/apartments'>Apartments</a></li>
  <li><a href='/apartments/1'></a>Details</li>
  <li><a href='/apartments/new'></a>Add Apartments</li>
  <li<<a href='/apartments/1/tenants/new'></a>Add Tenants</li>
</ul>
