<h1>Craig's List</h1>

<li><a href='/apartments'>List of All Apartments</a></li>
<li><a href='/apartments/new'>Add New Apartment Listing</a></li>
<li><a href='/apartments/:id'>Info on Existing Apartments</a></li>
<li><a href='/tenants/index'>Tenant List</a></li>
<li><a href='/tenants/new'>Add New Tenant</a></li>
