<h1>Apartments</h1>
<a class='menu_option' href="/apts">Apartment Listings</a>
<form class='menu_option' action="/apts/28" method="get">
  <span>Search for apartment by number: </span><input type="search" name="apt_no" placeholder="Apt Num">
</form>
