"APARTMENTS"

<a href='/'>List all apartments.</a>
<a href='/apt_details'>View apartment details.</a>
<a href='/add_apt'>Add an apartment.</a>
<a href='/add_tenant'>Add a tenant.</a>




<!--
<% @instructors.each do |instructor| %>
  <li><%= instructor %></li>
<% end %>

<form method="get" action="/">
  <input type="search" name="instructor_name" placeholder="Get Instructor Name">
  <input type="submit">
</form>

<form method="post" action="/">
  <input type="text" name="instructor_name" placeholder="Instructor Name">
  <input type="submit">
</form> -->
