<h1>This is the homepage.</h1>
<li><a href="/apartments">List all apartments</a></li>
<li><a href="/apartment_links">View an Apartment's details</a></li>
<li><a href="/add_apartment">Add an apartment</a></li>
<li><a href="/add_tenant_list">Add a tenant to an apartment</a></li>
