
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Apartments</title>
</head>

<body>
<h1><a href="/all_apartments/">All Apartments</a></h1>
<h1><a href="/apartment_details/"> Apartment Details</a></h1>
<h1><a href="/add_apartment/">Add Apartment</a></h1>
<h1><a href="/add_tenant/">Add Tenant</a></h1></body>

</html> 

