<h1>Apartments</h1>
<p>
<a class='menu_option' href="/apartments">Apartment Listings</a>
</p>
<form class='menu_option' action="/apartments/" method="get">
  <span>Search for apartment by number: </span>
  <input type="search" name="apartment_number" placeholder="Apartment Number">
  <input type="submit">
</form>
<p>
<a class='menu_option' href="/apartments/new">Add Apartment</a>
</p>
<p>
<a class='menu_option' href="/apartments/1/tenants">View Tenants</a>
</p>
<p>
<a class='menu_option' href="/apartments/1/tenants/new">Add Tenant to Apartment</a>
</p>
