<h1>Springfield, Wherever Apartments</h1>
<a href="/apartments">View all apartments</a>
<a href="/apartments/info">View Details of an Apartment</a>
<a href="/apartments/new">Add an Apartment</a>
<a href="/tenants/new">Add a Tenant</a>
