<nav>
  <a href="/list_apartments">List Apartments</a>
  <a href="/list_tenants">List Tenants</a>
  <a href="/details">View Apartment Details</a>
</nav>

<ul class="search">
  <li>
    Search
  </li>
  <li>
    <form method="Get" action-"/">
      <input type= "text" name= "search_apt" placeholder= "Apartment Search">
      <input type = "submit">
    </form>
  </li>
  <li>
    <form method="Get" action-"/">
      <input type= "text" name= "search_tenant" placeholder= "Tenant Search">
      <input type = "submit">
    </form>
  </li>
</ul>

<ul class="add">
  <li> ADD
  </li>
  <li>
    <form method="post" action-"/">
      <input type="text" name= "new_apartment" placeholder= "Add Apartment">
      <input type ="submit">
    </form>
  </li>
  <li>
    <form method="post" action-"/">
      <input type="text" name = "new_tenant" placeholder= "Add Tenant">
      <input type ="submit">
  </li>
    </form>
</ul>
