<h1>Main Menu</h1>

<ul>
  <li><a href="./apartments">List all apartments</a></li>
  <li><a href="./apartments/1">Go to apt #1</a></li>
  <!-- For the above, I want to use something like <%=@id%> to choose the apartment dynamically-->
  <li><a href="./apartments/new">Add an apartment</a></li>
  <li><a href="./apartments/1/tenants/new">Add a tenant to apt #1</a></li>
</ul>
