<!DOCTYPE html>
<html>
  <head>
    <link rel ='stylesheet' href= '/css/styles.css'>
    <title>My Apartments</title>
  </head>
  <body>
    <header>
      <h1> My Apartments</h1>
    </header>
    <nav>
      <a href = "/apartments"> List All Apartments </a>
      <a href="/apartments/3">View an Apartment's details</a>
      <a href="/apartments/new">Add an Apartment</a>
      <a href="/tenant">Add a Tenant to Apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
