<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Landlord 3</title>
    </head>
    <body>
        <a href="/apartments">Apartment List</a>
        <a href="/apartments/details">Apartment Details</a>
        <a href="/apartments/new">Add an Apartment</a>
        <a href="/apartments/1/tenants">Apartment and tenant(s)</a>
        <a href="/tenants/1/tenants/new">Add tenant to apartment</a>

        <% yield %>
    </body>
</html>
