<!doctype html>
<html>
  <head>
    <title>Landlord 3</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <a href='/apartments'>Apartments</a>
    <a href='/apartments/'>Sample Apartments</a>
    <a href='/apartments/new'>New Apartments</a>
    <a href='/apartments/'>Tenants for Sample Apts</a>
    <a href='/apartments/'>Tenants Added to Apts</a>


    <%= yield %>

  </body>
</html>
