<!DOCTYPE html>
<html lang='en'>
<head>
  <title>MySweetHome</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <ul>
    <li><a href="/apartments">List all apartments</a></li>
    <li><a href="/apartments/1">View an apartment's details</a></li>
    <li><a href="/apartments/new">Add an apartment</a></li>
    <li><a href="apartments/1/tenants/new">Add a tenant to an apartment</a></li>
  </ul>
  <%= yield %>
</body>
</html>








<!-- The homepage should list several menu options:
  * List all apartments
  * View an apartment's details
  * Add an apartment
  * Add a tenant to an apartment -->
