<!doctype html>
<html>
  <head>
    <title>Landlord 3</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
       <nav>
         <ul>What would you like to do?</ul>
           <li><a href='/list_apartments'>List all apartments</a></li>
           <li><a href='/view_details'>View Details</a></li>
           <li><a href='/add_apartment'>Add an apartment</a></li>
           <li><a href='/add_tenant'>Add a tenant to an apartment</a></li>
         </ul>
       </nav>
    </header>
    <%= yield %>
  </body>
</html>
