<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a href='/apartments'>List All apartments</a>
    <a href='/apartments/1'>View apartment details</a>
    <a href='/apartments/new'>Add an apartment</a>
    <a href='/apartments/1/tenants'>List tenants for sample apartment</a>
    <a href='/apartments/1/tenants/new'>Add tenant to apartment</a>
    <%= yield %>
  </body>
</html>
