<!doctype html>
<html>
  <head>
    <title>Landlord Homework</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div>
      <a href='/apartments'>List All apartments</a>
      <a href='/apartments/:id'>View sample apartment</a>
      <a href='/apartments/new'>Create a new apartment</a>
      <a href='/tenants'>List tenants for sample apartment</a>
      <a href='/tenants/new'>Add tenant</a>
    </div>
    <%= yield %>
  </body>
</html>
