<!DOCTYPE html>
<html>
  <head>
    <title>Apartments.com</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <a href="/">Homepage</a>
    <%= yield %>
  </body>
</html>
