<!-- layout.erb always gets loaded and when there is a yield its going to take the template we call and place it where the yield it -->
<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
    <%= yield %>
    </header>
  </div>
</body>
<html>
