<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>landlord3</title>
		<style type="text/css" href="css/styles.css"></style>
		<meta name="description" content="">
	</head>
	<body>

		<%= yield %>

	</body>
</html>