<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
      <a href ='/apartments'> List all apartments</a>
      <a href ='/apartments/23'>Apartment details</a>
      <a href ='/apartments/new'>New Apartment</a>
      <a href ='/apartments/23/tenants'>List tenants</a>
      <a href ='/apartments/23/tenants/new'>Add tenants</a>

      <%=yield%>
    </body>


</html>
