<h1>New Apartment</h1>

<form method="post" action="/">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="monthly_rent" placeholder="Monthly Rent">
  <input type="text" name="sqft" placeholder="Footage">
  <input type="number" name="beds" min="0" max="15" placeholder="Beds">
  <input type="number" name="baths" min="0" max="15" placeholder="Baths">
  <input type="submit">
</form>
