<form method="post" action="/apartments/create">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="monthly_rent" placeholder="Monthly Rent">
  <input type="text" name="sqft" placeholder="Square Feet">
  <input type="text" name="num_beds" placeholder="Number of Beds">
  <input type="text" name="num_baths" placeholder="Number of Baths">
  <input type="submit">
</form>
