<h1>New Apartament</h1>

<form method="post" action="/apartments">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="rent" placeholder="Rent">
  <input type="text" name="square_feet" placeholder="Square Feet">
  <input type="text" name="beds" placeholder="Beds">
  <input type="text" name="baths" placeholder="Baths">
  <input type="submit" name="submit">
</form>
