<h1>New Tenant</h1>

<form method="post" action="/">
  <input type="text" name="name" placeholder="Name">
  <input type="number" name="age" min="0" max="120" placeholder="Age">
  <input type="submit">
</form>
