<form method="post" action="/">
  <input type="text" placeholder="Address">
  <input type="text" placeholder="Rent">
  <input type="text" placeholder="Square Feet">
  <input type="text" placeholder="Beds">
  <input type="text" placeholder="Bathrooms">
  <input type="submit">
</form>
