<form method="post" action="/">
  <input type="text" name="newTenantName" placeholder="New Tenant Name">
  <input type="submit">
</form>

<form method="post" action="/">
  <input type="text" name="newTenantAge" placeholder="New Tenant Age">
  <input type="submit">
</form>

<form method="post" action="/">
  <input type="text" name="newTenantGender" placeholder="New Tenant Gender">
  <input type="submit">
</form>
