<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
  </head>
  <body>

      <a href='/apartments/index'>List all apartments</a>
      <a href='/apartments/details'>View an apartment details.</a>
      <a href='/apartments/new'>Add an apartment</a>
      <a href='/apartments/tenants'>List tenants</a>

      <%= yield %>
  </body>
</html>
