apartments_new.erb

Add new apartment

<form method="post" action="/apartments/save">
  <input type="text" name="address" placeholder="address">
  <input type="text" name="monthly_rent" placeholder="monthly_rent">
  <input type="text" name="sqft" placeholder="sqft">
  <input type="text" name="num_beds" placeholder="num_beds">
  <input type="text" name="num_baths" placeholder="num_baths">
  <input type="submit">
</form>


