<ul>
  <li><a href="/tenants/1">Tenant 1</a></li>
  <li><a href="/tenants/2">Tenant 2</a></li>
  <li><a href="/tenants/3">Tenant 3</a></li>
  <li><a href="/tenants/4">Tenant 4</a></li>
  <li><a href="/tenants/5">Tenant 5</a></li>
  <li><a href="/tenants/6">Tenant 6</a></li>
  <li><a href="/tenants/7">Tenant 7</a></li>
  <li><a href="/tenants/8">Tenant 8</a></li>
  <li><a href="/tenants/9">Tenant 9</a></li>
</ul>
