<h1>New Tenant</h1>

<form method="post" action="/tenants/index">
  <ul><input type="text" placeholder="first_name"></ul>

  <ul><input type="text" placeholder="last_name"></ul>

  <ul><input type="text" placeholder="age"></ul>

  <ul><input type="text" placeholder="gender"></ul>

  <ul><input type="text" placeholder="montly_income"></ul>

  <input type="submit">
</form>
