Create New Tenant
<form method="get" action="/tenants/new">
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Age">
  <input type="text" placeholder="Gender">
  <input type="text" placeholder="Apartment">
  <input type="submit">
</form>
