<h1>Add a new tenant</h1>
<form method='post' action='/tenants'>
  <input type="text" name="Name" placeholder="Enter the new tenant's name">
  <input type="text" name="Age" placeholder="Enter the tenant's age">
  <input type="text" name="Gender" placeholder="Enter the tenant's gender">
  <input type="submit">
</form>