<!-- Michael Doughlas is 75 years old Male -->
<form method="post" action="/tenants">
  <input type="text" name="first_name" placeholder="First Name" />
  <input type="text" name="last_name" placeholder="Last Name" />
  <input type="text" name="age" placeholder="Age" />
  <input type="text" name="gender" placeholder="Male/Female" />
  <input type="submit" />
</form>
