Please enter the following information about the tenant:
<form method="post" action="/tenants">
  <p>Name: </p><input type="text" name="tenant_name">
  <p>Age: </p><input type="text" name="age">
  <p>Job: </p><input type="text" name="job">
  <p>Address: </p><input type="text" name="tenant_address">
  <input type="submit">
</form>
