<p>Please enter your name</p>
<form method='post' action='/tenants'>
  <input type='text' name='tenant-name'>
</form>
<p>Please enter your age</p>
<form method='post' action='/tenants'>
  <input type='text' age='tenant-age'>
</form>
<p>Please enter your email address</p>
<form method='post' action='/tenants'>
  <input type='text' age='tenant-email-address'>"
</form>
