<h1><%= @header_route %></h1>
<form method="post" action="/tenants">
  <input type="text" placeholder="Renter Name">
  <input type="text" placeholder="Age">
  <input type="text" placeholder="Gender">
  <input type="submit">
  <a class=link id=return href='/'>Return to building</a>
</form>
