<h1>Add a new tenant</h1>
<form method='post' action='/tenants'>
    <input type="text" name="Name" placeholder="Enter new tenant name">
    <input type="text" name="Age" placeholder="Enter tenant's age">
    <input type="text" name="Gender" placeholder="Enter tenant's gender">
    <input type="submit">
</form>
