<form method="post" action="/tenants">
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Age">
  <input type="text" placeholder="Gender">
  <input type="submit">
</form>
