<form action="/tenants" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="age" placeholder="Age">
  <input type="text" name="gender" placeholder="Gender">
  <input type="submit">
</form>
