Apartments under Springfield Management
<ul>
  <li><a href="/apartments/1">Apartment 1 - 123 Main Street</a></li>
  <li><a href="/apartments/2">Apartment 2 - 444 Park Avenue</a></li>
  <li><a href="/apartments/3">Apartment 3 - 9000 Broad Street</a></li>
</ul>
