
<h1>Our Apartments</h1>
<div class="list_apts">
  <a href="/apartments/1">Apartment 1</a>
  <!-- some div inside -->
  <!-- Apt 1A is 750 sqft and has 1 bed and 1 bath. It costs $2500 a month -->
  <!-- Mikael lives in Apt 1A -->
  <div>
  <a href="/apartments/2">Apartment 2</a>
  <a href="/apartments/3">Apartment 3</a>
  <a href="/apartments/4">Apartment 4</a>
  <a href="/apartments/5">Apartment 5</a>
  <a href="/apartments/6">Apartment 6</a>
  <a href="/apartments/7">Apartment 7</a>
  <a href="/apartments/8">Apartment 8</a>
  <a href="/apartments/9">Apartment 9</a>
  <a href="/apartments/10">Apartment 10</a>
</div>
