<h1>List of all apartments.</h1>
<ul>
  <li><a href="/apartments/1A">Apartment 1A</a></li>
  <li><a href="/apartments/details">Apartment 2A</a></li>
  <li><a href="/apartments/details">Apartment 1B</a></li>
  <li><a href="/apartments/details">Apartment 2B</a></li>
</ul>