 <ul>
   <li><a href="/apartments/1">Apartment 1</a></li>
   <li><a href="/apartments/2">Apartment 2</a></li>
   <li><a href="/apartments/3">Apartment 3</a></li>
   <li><a href="/apartments/4">Apartment 4</a></li>
   <li><a href="/apartments/5">Apartment 5</a></li>
   <li><a href="/apartments/6">Apartment 6</a></li>
   <li><a href="/apartments/7">Apartment 7</a></li>
   <li><a href="/apartments/8">Apartment 8</a></li>
   <li><a href="/apartments/9">Apartment 9</a></li>
 </ul>
