
    <h1>Here are the apartments you manage:</h1>
    <ul>
        <li><a href='/apartments/1'>Apartment 1</a></li>
        <li><a href='/apartments/details'>Apartment 2</a></li>
        <li><a href='/apartments/details'>Apartment 3</a></li>
        <li><a href='/apartments/details'>Apartment 4</a></li>
        <li><a href='/apartments/details'>Apartment 5</a></li>
    </ul>
