<h1>Add a new apartment</h1>
<form method='post' action='/apartments'>
    <input type="text" name="Address" placeholder="Enter address">
    <input type="text" name="Rent" placeholder="Enter monthly rent">
    <input type="text" name="sqft" placeholder="Enter number of square feet">
    <input type="text" name="Beds" placeholder="Enter number of bedrooms">
    <input type="text" name="Baths" placeholder="Enter number of bathrooms">
    <input type="submit">
</form>
