<h1>Add a new apartment.</h1>
<form method='post' action='/apartments'>
  <input type="text" name="Address" placeholder="Enter an address">
  <input type="text" name="Rent" placeholder="Enter the monthly rent">
  <input type="text" name="Square Foot" placeholder="Enter the number of square feet">
  <input type="text" name="Bedrooms" placeholder="Enter the number of bedrooms">
  <input type="text" name="Bathrooms" placeholder="Enter the number of bathrooms">
  <input type="submit">
</form>