<!-- Apt 1A is 750 sqft and has 1 bed and 1 bath. It costs $2500 a month -->
<form method="post" action="/apartments">
  <input type="text" name="apt_num" placeholder="Apartment Number" />
  <input type="text" name="apt_sqft" placeholder="Square Feet" />
  <input type="text" name="bed_num" placeholder="Bed Number" />
  <input type="text" name="bath_num" placeholder="Bath Number" />
  <input type="text" name="rent_num" placeholder="Rent" />
  <input type="submit" />
</form>
