<form method="post" action="/apartments">
  <input type ="text" placeholder="Address">
  <input type ="text" placeholder="Rent">
  <input type ="text" placeholder="Sqft">
  <input type ="text" placeholder="Beds">
  <input type ="text" placeholder="Baths">
  <input type ="submit">
</form>
