Add a New Apartment

<form>
  <input type="text" name="Address" placeholder="Address" />
  <input type="text" name="Square Feet" placeholder="Square Feet" />
  <input type="text" name="Bedrooms" placeholder="Number of Bedrooms" />
  <input type="text" name="Bathrooms" placeholder="Number of Bathrooms" />
  <input type="text" name="Rent" placeholder="Rent" />
  <input type="submit" />
</form>
