<h1>apartment new</h1>

<form method="post" action="/apartments/index">
  <ul><input type="text" placeholder="address"></ul>

  <ul><input type="text" placeholder="rent"></ul>

  <ul><input type="text" placeholder="sqft"></ul>

  <ul><input type="text" placeholder="# Beds"></ul>

  <ul><input type="text" placeholder="# Baths"></ul>

  <input type="submit">
</form>
