# ======= views/apartments/new.erb<br><br>

<form method="post" action="/">
  <input type="text" name="address" placeholder="address"><br>
  <input type="text" name="monthly_rent" placeholder="monthly rent"><br>
  <input type="text" name="sqft" placeholder="square feet"><br>
  <input type="text" name="num_beds" placeholder="number of beds"><br>
  <input type="text" name="num_baths" placeholder="number of baths"><br>
  <input type="text" name="renters" placeholder="renters"><br>
  <input type="submit">
</form>