<h1><%= @header_route %></h1>
<form method="post" action="/apartments">
  <input type="text" name="apartment_name" placeholder="Apartment Name">
  <input type="text" placeholder="Monthly Rent">
  <input type="text" placeholder="Square Feet">
  <input type="text" placeholder="Bedrooms">
  <input type="text" placeholder="Baths">
  <input type="submit">
  <a class=link id=return href='/'>Return to building</a>
</form>
