<form method="post" action="/apartments">
  <input type="type" placeholder="monthly rent">
  <input type="type" placeholder="square feet">
  <input type="type" placeholder="address">
  <input type="type" placeholder="number beds">
  <input type="type" placeholder="number baths">
  <input type="submit">
</form>
