Please enter the following information about the apartment:
<form method="post" action="/apartments">
  <p>Address: </p><input type="text" name="address">
  <p>Monthly Rent: </p><input type="text" name="monthly_rent">
  <p>Square Feet: </p><input type="text" name="sqft">
  <p>Number of Beds: </p><input type="text" name="num_beds">
  <p>Number of Baths: </p><input type="text" name="num_baths">
  <input type="submit">
</form>
