<!-- Tell the user the address, monthly_rent, sqft, num_beds, num_baths, and renters -->
<a href="/apartments/index"><h1>Our Apartments</h2></a>
  <h2>Apartment #7</h2>
  <p>Apt#7, $2500, 870 sqft, 2 bed, 2 bath, renters: Mickeal, Jenny, Max Woof</p>
