<h1><%= @header_route %></h1>
<p>
This should show info about a single apartment
Tell the user the address, monthly_rent, sqft, num_beds, num_baths, and renters
</p>
<a class=link id=return href='/'>Return to building</a>
