<form method ='post' action="/apartments">
  <input type='text' name ='address' placeholder="Address">
  <input type="text" name="rent" placeholder="Monthly Rent">
  <input type="text" name="sqft" placeholder="Square Feet">
  <input type="text" name="beds" placeholder="Bedrooms">
  <input type="text" name="baths" placeholder="Bathrooms">
  <input type="submit">
</form>
